body {
	color: white;
	background: #5fa9dd;
}

.tweet1 { 
	position: relative;
	margin-left: 250px;
	margin-top: 50px;
}

.tweet2 { 
	position: relative;
	margin-left: 250px;
	margin-top: 50px;
}

.tweet3 { 
	position: relative;
	margin-left: 250px;
	margin-top: 50px;
}

.tweet4 { 
	position: relative;
	margin-left: 250px;
	margin-top: 50px;
}

body {
	cursor: url('http://i.imgur.com/4q6v0xT.png'), default;
}

#navi {
	color: #FFFFFF;
}