body {
	background-color: #B2F7C5;
	font-family: helvetica, sans-serif;

}

p {
	color: #B2F7C5;
	font-size: 10px;
}

h1 {
	font-size: 45px;
	color: #B2F7C5;
	text-align: center;
}

#Box1 {
	background-color: #FFFFFF;
	margin-left: 100px;
	width: 500px;
	height: 400px;
    position: fixed;
    top: 10px;
	overflow: scroll;
	border: 10px solid pink;
}

.grindr {
	text-align: left;
}
.instaDM {
	text-align: right;
}

.kik {
	text-align: left;
}

.line {
	text-align: right;
}

.imessage {
	text-align: left;
}

#Box2 {
	background-color: #FFFFFF;
	margin-left: 650px;
	width: 500px;
	height: 400px;
    position: fixed;
    top: 200px;
	overflow: scroll;
	border: 10px solid pink;
}

.robotchat {
	text-align: left;
}
.chatroom {
	text-align: right;
}

.twitterDM {
	text-align: left;
}

.googlehangout {
	text-align: right;
}

.skype {
	text-align: left;
}

#navi {
	margin-top: 630px;
}

