body {
	background-color: #B2F7C5;
	font-family: courier, helvetica, sans-serif;

}

p {
	color: #B2F7C5;
}

h1 {
	font-size: 45px;
	color: #B2F7C5;
	text-align: center;
}

#Box1 {
	background-color: #FFFFFF;
	margin-left: 100px;
	width: 500px;
	height: 400px;
    position: fixed;
    top: 10px;
	overflow: scroll;
	border: 10px solid pink;
}

.abstract {
	text-align: center;
}
.doodle {
	border: 1px solid black;
	text-align: left;
}

#Box2 {
	background-color: #FFFFFF;
	margin-left: 650px;
	width: 500px;
	height: 400px;
    position: fixed;
    top: 200px;
	overflow: scroll;
	border: 10px solid pink;
}

#navi {
	margin-top: 630px;
}

