body {position: relative;

}


#maze {
    background: red;
    width: 800px;
    height: 400px;
    margin-top: 150px;
    margin-left: 200px;
}


#maze.image1{
    background-image: url(IMG/xfiles1.jpg);
}
#illegaldrugs {
    position: fixed;
}
#maze.image2{
    background-image: url(IMG/xfiles2.jpg);
}

#maze.image3{
    background-image: url(IMG/xfiles3.jpg);
}

#maze.image4{
    background-image: url(IMG/xfiles4.jpg);
}

#maze.image5{
    background-image: url(IMG/xfiles5.jpg);
}

#maze.image6{
    background-image: url(IMG/xfiles6.jpg);
}

.line1 {
    background: #000;
    width: 200px;
    height: 25px;
    top: 100px;
    left: 200px;
    position: absolute;
}

.line2 {
    background: #000;
    width: 25px;
    height: 100px;
    top: 100px;
    left: 375px;
    position: absolute;
}

.line3 {
    background: #000;
    width: 100px;
    height: 25px;
    top: 200px;
    left: 375px;
    position: absolute;
}

.line4 {
    background: #000;
    width: 25px;
    height: 80px;
    top: 145px;
    left: 475px;
    position: absolute;
}

.line5 {
    background: #000;
    width: 150px;
    height: 25px;
    top: 145px;
    left: 475px;
    position: absolute;
}

.line6 {
    background: #000;
    width: 25px;
    height: 175px;
    top: 145px;
    left: 600px;
    position: absolute;
}

.line7 {
    background: #000;
    width: 25px;
    height: 25px;
    top: 295px;
    left: 625px;
    position: absolute;
}

.line8 {
    background: #000;
    width: 25px;
    height: 300px;
    top: 20px;
    left: 650px;
    position: absolute;
}

.line9 {
    background: #000;
    width: 150px;
    height: 25px;
    top: 20px;
    left: 675px;
    position: absolute;
}

.line10 {
    background: #000;
    width: 25px;
    height: 350px;
    top: 20px;
    left: 800px;
    position: absolute;
}

.line11 {
    background: #000;
    width: 50px;
    height: 25px;
    top: 350px;
    left: 800px;
    position: absolute;
}

.line12 {
    background: #000;
    width: 25px;
    height: 100px;
    top: 275px;
    left: 850px;
    position: absolute;
}

.line13 {
    background: #000;
    width: 75px;
    height: 25px;
    top: 275px;
    left: 875px;
    position: absolute;
}

.line14 {
    background: #000;
    width: 25px;
    height: 55px;
    top: 240px;
    left: 925px;
    position: absolute;
}

.line15 {
    background: #000;
    width: 75px;
    height: 25px;
    top: 240px;
    left: 925px;
    position: absolute;
}